{% extends "base.html" %}

{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('routes.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('routes.restaurants') }}">Restaurants</a></li>
    </ul>
</nav>

      <h1>Restaurants</h1>

      <ul>
          {% for restaurant in restaurants %}
              <li>
                <a href="{{ url_for('routes.restaurant', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a>
              </li>
          {% endfor %}
      </ul>

<a href="{{ url_for('routes.add_restaurant') }}" class="btn btn-primary">Add Restaurant</a>

{% endblock %}
